body {
    
}

header {
    
}

.barra-topo {
    background: #eee;
    height: 30px;
}
.area-menu {
    
}

.redes-sociais {
    
}

.pesquisa {
    
}

.menu-principal ul li, .menu-rodape ul li {
    display: inline;
}

.wp-post-image {
    margin: 0 15px 10px 0;
}